/* =============================================================================
   HTML5 Boilerplate CSS: h5bp.com/css
   ========================================================================== */

article, aside, details, figcaption, figure, footer, header, hgroup, nav, section { display: block; }
audio, canvas, video { display: inline-block; *display: inline; *zoom: 1; }
audio:not([controls]) { display: none; }
[hidden] { display: none; }

html { font-size: 100%; -webkit-text-size-adjust: 100%; -ms-text-size-adjust: 100%; }
html, button, input, select, textarea { font-family: sans-serif; color: #222; }
body { margin: 0; font-size: 1em; line-height: 1.4; }

::-moz-selection { background: #fe57a1; color: #fff; text-shadow: none; }
::selection { background: #fe57a1; color: #fff; text-shadow: none; }

a { color: #00e; }
a:visited { color: #551a8b; }
a:hover { color: #06e; }
a:focus { outline: thin dotted; }
a:hover, a:active { outline: 0; }

abbr[title] { border-bottom: 1px dotted; }
b, strong { font-weight: bold; }
blockquote { margin: 1em 40px; }
dfn { font-style: italic; }
hr { display: block; height: 1px; border: 0; border-top: 1px solid #ccc; margin: 1em 0; padding: 0; }
ins { background: #ff9; color: #000; text-decoration: none; }
mark { background: #ff0; color: #000; font-style: italic; font-weight: bold; }
pre, code, kbd, samp { font-family: monospace, serif; _font-family: 'courier new', monospace; font-size: 1em; }
pre { white-space: pre; white-space: pre-wrap; word-wrap: break-word; }
q { quotes: none; }
q:before, q:after { content: ""; content: none; }
small { font-size: 85%; }

sub, sup { font-size: 75%; line-height: 0; position: relative; vertical-align: baseline; }
sup { top: -0.5em; }
sub { bottom: -0.25em; }

ul, ol { margin: 1em 0; padding: 0 0 0 40px; }
dd { margin: 0 0 0 40px; }
nav ul, nav ol { list-style: none; list-style-image: none; margin: 0; padding: 0; }

img { border: 0; -ms-interpolation-mode: bicubic; vertical-align: middle; }

svg:not(:root) { overflow: hidden; }

figure { margin: 0; }

form { margin: 0; }
fieldset { border: 0; margin: 0; padding: 0; }
label { cursor: pointer; }
legend { border: 0; *margin-left: -7px; padding: 0; white-space: normal; }
button, input, select, textarea { font-size: 100%; margin: 0; vertical-align: baseline; *vertical-align: middle; }
button, input { line-height: normal; }
button, input[type="button"], input[type="reset"], input[type="submit"] { cursor: pointer; -webkit-appearance: button; *overflow: visible; }
button[disabled], input[disabled] { cursor: default; }
input[type="checkbox"], input[type="radio"] { box-sizing: border-box; padding: 0; *width: 13px; *height: 13px; }
input[type="search"] { -webkit-appearance: textfield; -moz-box-sizing: content-box; -webkit-box-sizing: content-box; box-sizing: content-box; }
input[type="search"]::-webkit-search-decoration, input[type="search"]::-webkit-search-cancel-button { -webkit-appearance: none; }
button::-moz-focus-inner, input::-moz-focus-inner { border: 0; padding: 0; }
textarea { overflow: auto; vertical-align: top; resize: vertical; }
input:valid, textarea:valid {  }
input:invalid, textarea:invalid { background-color: #f0dddd; }

table { border-collapse: collapse; border-spacing: 0; }
td { vertical-align: top; }

.chromeframe { margin: 0.2em 0; background: #ccc; color: black; padding: 0.2em 0; }



/* ===== Primary Styles ========================================================
   Author: Ryan Sanche
   ========================================================================== */

/* GENERAL ITEMS */
body{
  margin: 0;
  padding: 0px;
  font-family:  "Trebuchet MS",sans-serif;
}

/* TOP BAR COMPONENTS */
#main-nav {
  height: 1.85em;
  width: 100%;
  position: fixed;
  z-index: 100;
  background-color: #9DD3FF;
  border-bottom: 1px solid #79C2FF;
  box-shadow: 0px 3px 3px #888;
}

#main-nav .menu {
  color: #666666;
  float: right;
  font-size: 0.9em;
  margin: 4px 10px;
  position: absolute;
  right: 0;
}

#main-menu, #main-menu ul {
  display: inline;
}

#main-nav h1 {
    float: left;
    font-family: "Trebuchet MS",sans-serif;
    font-size: 1.4em;
    margin: 0 10px;
    position:absolute;
}

#main-menu ul li {
  display: inline-block;
  vertical-align: middle;
  padding: 0 0.8em;
  border-right: 1px solid black;
}

#main-menu ul li:last-child {
  border-right: none;
}

#main-menu a {
  text-decoration: none;
}

#auth {
  vertical-align: middle;
  padding-left: 1em;
}

.hide {
  display: none;
}

/* MAIN TABLE COMPONENT */

table#main{
  width: 100%;
  height: 100%;
  position: relative;
  top: 30px;
}

/* LEFT PANEL COMPONENTS */
.active {
  background-color: blue;
}

.focus {
  color: red;
}


#left-panel {
  position: relative;
  height: 100%;
  vertical-align: top;
  width: 250px;
}
#leftside{
  width: 245px;
  background-color: #C4E4FF;
  padding: 5px 0 20px 5px;
  border-bottom-right-radius: 20px;
  box-shadow: 3px 3px 3px #888;
  font-size: 90%;
}
@font-face{font-family:"Andika"; src:url(Andika-R.ttf);}
.w, .n, .gpcs{font-family:"Andika",Arial,sans-serif;}
.header_options {float:right;margin:-24px 2px 0 0;font-size:1.5em;}
.header{position:relative;}
.header_options a {text-decoration:none;color: #888;}
.header_options a:hover{color:red;}
.header_options a:active{text-decoration:none;margin:0;padding:0;}
#gpcs_controls {
  display:none;
  position:absolute;
  top: 20px;
  width: 240px;
  height: auto;
  background-color: #ccc;
  opacity: .9;
  z-index:100;
  padding:10px 0;
  overflow: hidden;
}
#gpcs_controls p{
  height: auto;
  padding-left:10px;
}
#toolbar-content {
  min-height: 20em;
}
.header {
  background-color: #9DD3FF;
  margin: 4px 10px 10px -10px;
  border-top: 1px solid #9DD3FF;
  border-bottom: 1px solid #9DD3FF;
  color: #555;
  font-family: "Trebuchet MS",sans-serif;
  font-weight: bold;
  box-shadow: 1px 1px 2px #666;
  border-top-right-radius: 10px;
  border-bottom-right-radius: 10px;
  text-indent: 10px;
}
#leftside .header:hover, .gpcs label:hover, #options label:hover, #changeTextSize span:hover {
  cursor: pointer;
  background-color: #62B8FF;
}
#leftside .header:hover {
  border-top: 1px solid #aaa;
  border-bottom: 1px solid #9FC8F0; /* AAD9FF */
  box-shadow: 3px 3px 3px #888;
  text-shadow: 0px 0px 5px #FFF;
  color: #444;
}
form#controls input, form#gpcs input {
  margin: 3px;
}
#leftside form#options {
  line-height: 150%;
}
form#controls label {
  padding: 2px 5px 0 0 ;
}
#changeTextSize span {
  padding: 0 5px;
  margin: 0 2px;
}
#leftside .gpcs label{
  padding: 0 2px 2px 0;
  white-space: nowrap;

  width:3.1em;
  display:inline-block;
  font-size:1.2em;
  line-height:1.3em;
}
form#options, form#gpcs {
  padding-left: 5px;
}
#left-panel-toggle{
  margin-left: 5px;
  min-width: 5px;
  width: 7px;
  height: 95%;
  z-index: 99;
}
#left-panel-toggle:hover{
  cursor: w-resize;
  background-color: #F5F5F5;
  border-right: 1px inset #EEE;
  border-left: 1px solid #EEE;
}

/* MAIN VIEW COMPONENTS */
#main-view{
  padding: 0.5em;
  padding-top: 0;
  vertical-align: top;
  background- color: #F9F9F9;
 }

#lesson-area td .word {
  padding: 5px 20px;
  font: 1.2em "Andika", sans-serif;
}

#main-view h2 {
  font-size: 1.4em;
  text-align: center;
}

#wordlist {
  width: 20em;
  height: 20em;
}

#wordlist-saved {
  color: green;
}

@media print{
  #main-nav, #left-panel, #leftside, #left-panel-toggle {
    display: none;
  }
  #main-view {
    margin-right: auto;
    margin-left: auto;
    width: 100%;
  }
}


/* =============================================================================
   Media Queries
   ========================================================================== */

@media only screen and (min-width: 35em) {
	/* Style adjustments for viewports that meet the condition */
}

/* =============================================================================
   Non-Semantic Helper Classes
   ========================================================================== */

.ir { display: block; border: 0; text-indent: -999em; overflow: hidden; background-color: transparent; background-repeat: no-repeat; text-align: left; direction: ltr; *line-height: 0; }
.ir br { display: none; }
.hidden { display: none !important; visibility: hidden; }
.visuallyhidden { border: 0; clip: rect(0 0 0 0); height: 1px; margin: -1px; overflow: hidden; padding: 0; position: absolute; width: 1px; }
.visuallyhidden.focusable:active, .visuallyhidden.focusable:focus { clip: auto; height: auto; margin: 0; overflow: visible; position: static; width: auto; }
.invisible { visibility: hidden; }
.clearfix:before, .clearfix:after { content: ""; display: table; }
.clearfix:after { clear: both; }
.clearfix { *zoom: 1; }

/* =============================================================================
   Print Styles
   ========================================================================== */
 
@media print {
  * { background: transparent !important; color: black !important; box-shadow:none !important; text-shadow: none !important; filter:none !important; -ms-filter: none !important; } /* Black prints faster: h5bp.com/s */
  a, a:visited { text-decoration: underline; }
  a[href]:after { content: " (" attr(href) ")"; }
  abbr[title]:after { content: " (" attr(title) ")"; }
  .ir a:after, a[href^="javascript:"]:after, a[href^="#"]:after { content: ""; }  /* Don't show links for images, or javascript/internal links */
  pre, blockquote { border: 1px solid #999; page-break-inside: avoid; }
  thead { display: table-header-group; } /* h5bp.com/t */
  tr, img { page-break-inside: avoid; }
  img { max-width: 100% !important; }
  @page { margin: 0.5cm; }
  p, h2, h3 { orphans: 3; widows: 3; }
  h2, h3 { page-break-after: avoid; }
}
