/* ===== Primary Styles ========================================================
   Author: Norbert Rennert
   ========================================================================== */

/* KNOWN CRASH CAUSES (crashes less's parser.js and node.js)
  invalid property names; eg: border -bottom (a space between border-bottom)
  unmatched curly braces
*/



/* GENERAL ITEMS */
@font-face { font-family:"Andika"; src:url(Andika-R.ttf); }

body {
  font-family:  "Trebuchet MS",sans-serif;
}

/* COLOUR DEFINITIONS */
@base-color: #C4E4FF;
@darker-base: darken(@base-color, 10%);
@lighter-base: lighten(@base-color, 10%);
@hover-base: darken(@darker-base, 10%);

/* TOP BAR COMPONENTS */
#main-nav {
  height: 1.85em;
  width: 100%;
  position: fixed;
  z-index: 100;
  background-color: @darker-base;
  border-bottom: 1px solid #79C2FF;
  box-shadow: 0px 3px 3px #888;

  h1 {
      float: left;
      font-family: "Trebuchet MS",sans-serif;
      font-size: 1.4em;
      margin: 0 10px;
      position:absolute;
  }

  .menu {
    color: #666666;
    float: right;
    font-size: 0.9em;
    margin: 4px 10px;
    position: absolute;
    right: 0;

    #main-menu, #main-menu ul {
      display: inline;

      ul li {
        display: inline-block;
        vertical-align: middle;
        padding: 0 0.8em;
        border-right: 1px solid black;
      }

      ul li:last-child {
        border-right: none;
      }

      a {
        text-decoration: none;
      }
    }
  }

  #auth {
    vertical-align: middle;
    padding-left: 1em;
  }
}

/* MAIN TABLE COMPONENT */

table#main {
  width: 100%;
  height: 100%;
  position: relative;
  top: 30px;
  margin-bottom: 3em;
}

/* SIDE PANEL COMPONENTS */
.active {
  background-color: @darker-base;
}

.focus {
  color: red;
}

footer {
  font-size: 90%;
  padding: .5em;
}

#side-panel {
  position: relative;
  height: 100%;
  vertical-align: top;
  width: 250px;
}

#control-panel {
  padding: 5px;
  font-size: 90%;
  box-shadow: 3px 3px 3px #888;
  border-bottom-right-radius: 20px;
  background-color: @base-color;
  margin-bottom: 1em;
}

#toolbar-content {
  h3 {
    background-color: @darker-base;
    margin: 4px 10px 10px -10px;
    font-family: "Trebuchet MS", sans-serif;
    box-shadow: 1px 1px 2px #666;
    border-top-right-radius: 10px;
    border-bottom-right-radius: 10px;
    text-indent: 20px;

    a {
      display: block;
      font-weight: bold;
      font-size: .9em;
      text-decoration: none;
      color: #444;
    }
    a:hover {
      border-top-right-radius: 10px;
      border-bottom-right-radius: 10px;
      box-shadow: 3px 3px 3px #888;
      text-shadow: 0px 0px 5px #FFF, 0px 0px 8px #FFF;
      background-color: @hover-base;
    }
    a:before {
      content: '► ';
    }
    .active a:before {
      content: '▼ ';
    }
  }
}

#spelling-patterns {
  padding-left: 5px;

  button {
    display: inline-block;
    font-family: Andika, Arial, sans-serif;
    font-size: 1.2em;
    position: relative;
    white-space: nowrap;
    text-align: center;
    border: 2px solid #CAE8FF;
    z-index: 3;
    border-radius: 7px;
    background-color: #D7EEFF;/*CAE8FF;*/
    margin: 3px 0;
    min-width: 2em;
  }
  button.active {
    background-color: @darker-base;
    border: 2px outset @darker-base;
    background: #DEEFFF;/*Old browsers IE9 SVG, needs conditional override of 'filter' to 'none'*/
    background: ~"url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/Pgo8c3ZnIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgdmlld0JveD0iMCAwIDEgMSIgcHJlc2VydmVBc3BlY3RSYXRpbz0ibm9uZSI+CiAgPGxpbmVhckdyYWRpZW50IGlkPSJncmFkLXVjZ2ctZ2VuZXJhdGVkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgeDE9IjAlIiB5MT0iMCUiIHgyPSIxMDAlIiB5Mj0iMTAwJSI+CiAgICA8c3RvcCBvZmZzZXQ9IjAlIiBzdG9wLWNvbG9yPSIjZGVlZmZmIiBzdG9wLW9wYWNpdHk9IjEiLz4KICAgIDxzdG9wIG9mZnNldD0iMTAwJSIgc3RvcC1jb2xvcj0iIzc3YzFmZiIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgPC9saW5lYXJHcmFkaWVudD4KICA8cmVjdCB4PSIwIiB5PSIwIiB3aWR0aD0iMSIgaGVpZ2h0PSIxIiBmaWxsPSJ1cmwoI2dyYWQtdWNnZy1nZW5lcmF0ZWQpIiAvPgo8L3N2Zz4=)";
    background: -moz-linear-gradient(135deg, #deefff 0%, #77c1ff 100%);/*FF3.6+*/
    background: -webkit-gradient(linear, left top, right bottom, color-stop(0%,#deefff), color-stop(100%,#77c1ff));/*Chrome,Safari4+*/
    background: -webkit-linear-gradient(135deg, #deefff 0%,#77c1ff 100%);/*Chrome10+,Safari5.1+*/
    background: -o-linear-gradient(135deg, #deefff 0%,#77c1ff 100%);/*Opera 11.10+*/
    background: -ms-linear-gradient(135deg, #deefff 0%,#77c1ff 100%);/*IE10+*/
    background: linear-gradient(135deg, #deefff 0%,#77c1ff 100%);/*W3C*/
    filter: ~"progid:DXImageTransform.Microsoft.gradient( startColorstr='#deefff', endColorstr='#77c1ff',GradientType=1 )"; /*IE6-8 fallback on horizontal gradient*/
  }
  button.focus {
    border: 2px outset @darker-base;
    text-shadow: 0px 0px 5px #FFF, 0px 0px 8px #FFF;
    background: @hover-base; //#47AFFF; //darken(@hover-base, 20%);
    box-shadow: 2px 2px 2px #AAA;
  }
  button:hover {
    border: 2px outset #C1E3FF;
  }
}

/* SIDE PANEL COMPONENTS */
#side-panel-toggle{
  margin-left: 5px;
  min-width: 5px;
  width: 7px;
  height: 100%;
  min-height: 10em;
  z-index: 99;

  &:hover{
    cursor: w-resize;
    background-color: #75C1FF;
  }
}

/* MAIN VIEW COMPONENTS */
#main-view{
  padding: 0.5em;
  vertical-align: top;
  background-color: #F9F9F9;

  #main-content {
    h2 {
      font-size: 1.4em;
      text-align: center;
    }

    #lesson-area td .word {
      padding: 5px 20px;
      font: 1.2em "Andika", sans-serif;
    }

    #words-list ul {
      padding: 0;
    }
  }
}

#wordlist {
  width: 20em;
  height: 20em;
}

#wordlist-saved {
  color: green;
}
