<ul class="level1">
<li><a href="#demo/tok_pisin/words">Words</a>
  <ul class="level2">
    <li><a href="#">Link 1-1</a></li>
    <li><a href="#">Link 1-2</a></li>
    <li><a href="#">Link 1-3</a></li>
  </ul>
</li>
<li><a href="#demo/tok_pisin/sentences">Sentences</a>
  <ul class="level2">
    <li><a href="#">Link 2-1</a></li>
    <li><a href="#">Link 2-2</a></li>
    <li><a href="#">Link 2-3</a></li>
  </ul>
</li>
<li><a href="#">Link 3</a>
  <ul class="level2">
    <li><a href="#">Link 3-1</a></li>
    <li><a href="#">Link 3-2</a>
       <ul class="level3">
         <li><a href="#">Link 3-2-1</a></li>
         <li><a href="#">Link 3-2-2</a>
           <ul class="level4">
             <li><a href="#">Link 3-2-2-1</a></li>
             <li><a href="#">Link 3-2-2-2</a></li>
           </ul>
         </li>
       </ul>
    </li>
  </ul>
</li>
<li><a href="#">Link 4</a></li>
</ul>

