<ul class="level1">
<li><a href="#">Project</a>
  <ul class="level2">
    <li><a href="#demo/tok_pisin/words">Tok Pisin</a></li>
    <li><a href="#demo/swahili/words">Swahili</a></li>
    <li><a href="#designer/project/new">New Project</a></li>
  </ul>
</li>
<li><a href="#">Page</a>
  <ul class="level2">
    <li><a href="#demo/{{project}}/words">Words</a></li>
    <li><a href="#demo/{{project}}/sentences">Sentences</a></li>
    <li><a href="#designer/{{project}}/export">Tangerine Export</a></li>
  </ul>
</li>
</ul>

